@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$main-color: #F3F2F0;
$hover-color: #D40000;

$font-inter: 'Inter', sans-serif;

// $r_minmob: 320px;
// $r_mob_360: 360px;
// $r_mob_400: 400px;
// $r_mob_500: 500px;
// $r_tab: 768px;
// $r_tab_900: 900px;
// $r_desk: 1000px;
// $r_desk_1120: 1120px;
// $r_desk_1170: 1170px;
// $r_desk_hd: 1200px;
// $r_desk_1280: 1280px;
// $r_desk_1350: 1350px;
// $r_desk_1440: 1440px;
// $r_desk_full_1750: 1750px;

html {
    font-size: 10px;
    // @media (max-width: $r_mob_500) {
    //     font-size: 8px;
    // }
}

body {
    color: $main-color;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: $font-inter;
    background-color: #232326;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    &__menu {
        padding-top: 3.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        font-size: 1.4rem;
        padding-left: 0;
    }
    &__link {
        color: $main-color;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $hover-color;
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }
    &__phone, &__mail {
        color: $main-color;
        font-size: 1.4rem;
        text-decoration: none;
        padding: .4rem 0;
        transition: .3s;
        &:hover {
            color: $hover-color;
        }
    }
    &__phone {
        border-right: 1px solid $main-color;
        padding-right: 1.5rem;
    }
}

.main {
    padding-top: 6rem;
    &__image {
        display: block;
        width: 100%;
    }
    &__name {
        font-size: 2.8rem;
        margin-bottom: 3.5rem;
    }
    &__info {
        border-bottom: 1px solid $main-color;
        padding-top: 12rem;
        padding-bottom: 6.4rem;
        position: relative;
        &__footer {
            margin-top: 9.9rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            gap: 1.5rem;
        }
        &__item {
            border-right: 1px solid $main-color;
            padding: .4rem 1.5rem .4rem 0;
            &:nth-child(3) {
                border-right: none;
                padding-right: 0;
            }
        }
        &__link {
            color: $main-color;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            padding-bottom: 1rem;
            transition: .3s;
            &:hover {
                border-bottom: 2px solid $main-color;
            }
            &::after {
                content: '';
                display: inline-block;
                width: 15px;
                height: 10px;
                background-image: url(../images/icons/arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 15px;
                margin-left: 1rem;
            }
        }
        &__link-soc {
            color: $main-color;
            text-decoration: none;
            transition: .3s;
            &:hover {
                color: $hover-color;
            }
        }
    }
    &__ellipce {
        width: 253px;
        height: 253px;
        display: block;
        position: absolute;
        background-color: $hover-color;
        border-radius: 100%;
        top: 82px;
        left: -130px;
        z-index: -1;
        &_small {
            width: 106px;
            height: 106px;
            top: auto;
            left: auto;
            bottom: 40px;
            right: 26px;
        }
        &_portfolio {
            width: 465px;
            height: 465px;
            top: 0px;
            left: 0px;
        }
    }
    &__triangle {
        display: block;
        position: absolute;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 90px solid $main-color;
        top: 122px;
        left: -162px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1%;
        padding-top: 6rem;
        &__title {
            letter-spacing: 3%;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
        }
        &__description {
            font-size: 1.4rem;
            opacity: .8;
            margin: 1.5rem 0 0;
        }
    }
}

.info-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid $main-color;
    padding-bottom: 6rem;
}

.title {
    font-size: 7.4rem;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    z-index: 1;
    &_min {
        font-size: 2.8rem;
    }
    &_ellipce {
        &::before {
            content: '';
            z-index: -1;
            width: 140px;
            height: 140px;
            display: block;
            top: -50px;
            left: -70px;
            position: absolute;
            background-color: $hover-color;
            border-radius: 100%;
        }
    }
}

.description {
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: 400;
    opacity: .8;
}

.about {
    padding: 18rem 0;
    &__skills-box {
        padding-top: 6rem;
        max-width: 50%;
        margin-left: 50%;
        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 7rem 6rem;
        }
        &__title {
            font-weight: 700;
            line-height: 1.5;
            margin: 0;
        }
        &__description {
            font-size: 1.4rem;
            line-height: 1.5;
            opacity: .8;
            margin: 2rem 0 0;
        }
    }
}

.conditions {
    margin-bottom: 9rem;
    &__list {
        list-style: none;
        padding-left: 0;
        &:last-child {
            border-bottom: 1px solid $main-color;
        }
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        border-top: 1px solid $main-color;
        padding: 3rem 0;
    }
    &__title {
        font-size: 2.8rem;
        line-height: 1.5;
        font-weight: 400;
    }
    &__description {
        line-height: 1.5;
        opacity: .8;
    }
}

.portfolio {
    background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
    z-index: 1;
    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 4rem;
    }
    &__title-box {
        padding-bottom: 14.4rem;
        z-index: 2;
        position: relative;
    }
    &__info-box {
        padding-top: 6.1rem;
    }
    &__list {
        list-style: none;
        padding-left: 0;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $main-color;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    &__days {
        font-weight: 700;
    }
    &__image {
        width: 560px;
        height: 315px;
    }
    &__description__list {
        list-style: "- ";
        line-height: 1.5;
        padding-left: 0;
        margin-bottom: 4rem;
        margin-left: 1.4rem;
        :last-child {
            margin-bottom: 0;
        }
    }
    &__description__item {
        margin-bottom: 1rem;
    }
    &__title-description {
        display: block;
        max-width: 80%;
        font-size: 28px;
        font-weight: 400;
        line-height: 1.5;
    }
    &__grid-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 10%;
        padding-bottom: 18rem;
        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10%;
        }
        &__image {
            width: 40px;
            height: 40px;
        }
        &__title {
            font-weight: 700;
            line-height: 1.5;
        }
        &__description {
            font-size: 1.4rem;
            line-height: 1.5;
            opacity: .8;
        }
    }
    &__grid-2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        padding-bottom: 13.1rem;
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba($main-color, .6);
            min-height: 148px;
        }
        &__image {
            height: 40%;
            filter: grayscale(1);
            cursor: pointer;
            transition: .3s;
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

.rates {
    &__list {
        list-style: none;
        padding-left: 0;
        padding-bottom: 12rem;
        margin: 0;
        :last-child {
            border-bottom: none;
        }
    }
    &__item {
        border-bottom: 1px solid $main-color;
        padding-top: 6rem;
        padding-bottom: 7.6rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &__item {
            max-width: 90%;
        }
        &__title {
            font-size: 2.8rem;
            line-height: 1.5;
            font-weight: 400;
            margin: 0 0 2rem 0;
        }
        &__description {
            opacity: .8;
            line-height: 1.5;
            font-weight: 400;
            margin: 0 0 7.5rem 0;
        }
        &__link {
            color: $main-color;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            padding-bottom: 1rem;
            transition: .3s;
            &:hover {
                border-bottom: 2px solid $main-color;
            }
            &::after {
                content: '';
                display: inline-block;
                width: 15px;
                height: 10px;
                background-image: url(../images/icons/arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 15px;
                margin-left: 1rem;
            }
        }
        &__list-title {
            font-weight: 700;
            line-height: 1.5;
            margin: 0 0 2rem 0;
        }
        &__list {
            padding-left: 18px;
            margin: 0 0 4rem 0;
            list-style: disc;
        }
        &__list-item {
            line-height: 2;
            opacity: .8;
        }
        &__price {
            font-size: 4.2rem;
            line-height: 1.5;
            font-weight: 700;
            margin: 0;
            position: relative;
            z-index: 1;
            &_ellipce {
                &::before {
                    content: '';
                    z-index: -1;
                    width: 90px;
                    height: 90px;
                    display: block;
                    position: absolute;
                    background-color: $hover-color;
                    border-radius: 100%;
                    top: -14px;
                    left: -42px;
                }
            }
        }
    }
}