@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$main-color: #F3F2F0;
$hover-color: #D40000;

$font-inter: 'Inter', sans-serif;

$r_minmob: 320px;
$r_mob_345: 345px;
$r_mob_360: 360px;
// $r_mob_400: 400px;
$r_mob_500: 500px;
$r_tab: 768px;
$r_tab_900: 900px;
// $r_desk: 1000px;
// $r_desk_1120: 1120px;
// $r_desk_1170: 1170px;
// $r_desk_hd: 1200px;
// $r_desk_1280: 1280px;
// $r_desk_1350: 1350px;
// $r_desk_1440: 1440px;
// $r_desk_full_1750: 1750px;

html {
    font-size: 10px;
    @media (max-width: $r_mob_500) {
        font-size: 8px;
    }
}

body {
    color: $main-color;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: $font-inter;
    background-color: #232326;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: $r_tab) {
        max-width: 600px;
    }
}

.header {
    width: 100%;
    background-color: rgba(35, 35, 38, .8);
    z-index: 100;
    &_off {
        display: none;
    }
    &_fixed {
        position: fixed;
        top: -93px;
        opacity: 0;
        padding-bottom: 3.4rem;
        transition: .3s all;
    }
    &_scroll {
        top: 0;
        opacity: 1;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_header {
        padding-top: 3.4rem;
        @media (max-width: $r_mob_500) {
            padding-top: 2.4rem;
        }

    }
    &_footer {
        padding-top: 6rem;
        @media (max-width: $r_tab) {
            flex-direction: column-reverse;
            gap: 4rem;
        }
        @media (max-width: $r_mob_500) {
            padding-top: 5.4rem;
        }
    }
    &_mobile {
        position: fixed;
        top: -580px;
        width: 100%;
        background-color: #232326;
        z-index: 101;
        display: block;
        transition: .3s all;
    }
    &__button-mobile {
        position: absolute;
        top: 20px;
        right: 10px;
        background-color: transparent;
        background-image: url(../images/icons/close.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center center;
        width: 20px;
        height: 20px;
        border: 0;
        cursor: pointer;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.8rem;
        font-size: 1.4rem;
        padding-left: 0;
        margin: 0;
        @media (max-width: $r_mob_500) {
            font-size: 1.75rem;
        }
        &_mobile {
            flex-direction: column;
            gap: 0;
            margin-top: 80px;
            padding: 0 10px;
            font-size: 3.25rem;
        }
        &_header {
            @media (max-width: $r_tab) {
                display: none;
            }
        }
        &_footer {
            @media (max-width: $r_tab) {
                gap: 2rem;
            }
            @media (max-width: $r_mob_500) {
                font-size: 1.25rem;
            }
            @media (max-width: $r_mob_360) {
                gap: .8rem;
            }
        }
    }
    &__item {
        &_mobile {
            width: 100%;
            text-align: center;
            padding: 20px 0;
            border-bottom: 1px solid rgba($main-color, .2);
            &:nth-child(1) {
                border-top: 1px solid rgba($main-color, .2);
            }
        }
    }
    &__link {
        color: $main-color;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $hover-color;
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        &_mobile {
            justify-content: center;
            margin-top: 40px;
        }
    }
    &__phone, &__mail {
        color: $main-color;
        font-size: 1.4rem;
        text-decoration: none;
        padding: .4rem 0;
        transition: .3s;
        @media (max-width: $r_mob_500) {
            font-size: 1.75rem;
        }
        &:hover {
            color: $hover-color;
        }
    }
    &__phone {
        border-right: 1px solid $main-color;
        padding-right: 1.5rem;
        @media (max-width: $r_tab_900) {
            border-right: none;
            padding-right: 0;
        }
        &_footer {
            border-right: 1px solid $main-color;
            padding-right: 1.5rem;
        }
    }
    &__mail {
        @media (max-width: $r_tab_900) {
            display: none;
        }
        &_footer {
            display: block;
        }
    }
    &__burger {
        display: none;
        width: 26px;
        height: 20px;
        background-image: url(../images/icons/burger.svg);
        background-size: 2.6rem 2rem;
        background-position: center center;
        background-repeat: no-repeat;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        @media (max-width: $r_tab) {
            display: block;
        }
    }
}

.main {
    padding-top: 6rem;
    @media (max-width: $r_mob_500) {
        padding-top: 5.1rem;
    }
    &__image {
        display: block;
        width: 100%;
        @media (max-width: $r_mob_500) {
            display: none;
        }
        &_m {
            display: none;
            @media (max-width: $r_mob_500) {
                display: block;
            }
        }
    }
    &__name {
        font-size: 2.8rem;
        margin-bottom: 2.5rem;
        @media (max-width: $r_tab) {
            font-size: 2.3rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 2.25rem;
            margin-bottom: 2.5rem;
        }
    }
    &__info {
        border-bottom: 1px solid $main-color;
        padding-top: 9.8rem;
        padding-bottom: 4rem;
        position: relative;
        @media (max-width: $r_mob_500) {
            padding-top: 5.5rem;
            padding-bottom: 2.6rem;
        }
        &__footer {
            margin-top: 7.1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $r_mob_500) {
                margin-top: 10.5rem;
            }
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding-left: 0;
            gap: 2.5rem;
            @media (max-width: $r_mob_500) {
                gap: 1.1rem;
            }
            @media (max-width: $r_mob_360) {
                gap: .5rem;
            }
            &_mobile {
                margin-top: 20px;
                margin-bottom: 40px;
                justify-content: center;
            }
        }
        &__item {
            border-right: 1px solid $main-color;
            padding: .4rem 3rem .4rem 0;
            @media (max-width: $r_mob_500) {
                padding: .4rem 1.25rem .4rem 0;
            }
            &:nth-child(3) {
                border-right: none;
                padding-right: 0;
            }
        }
        &__link {
            color: $main-color;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            padding-top: 1rem;
            padding-bottom: 1rem;
            letter-spacing: .05rem;
            transition: .3s;
            @media (max-width: $r_mob_500) {
                font-size: 1.5rem;
            }
            &:hover {
                border-bottom: 2px solid $main-color;
            }
            &::after {
                content: '';
                display: inline-block;
                width: 15px;
                height: 10px;
                background-image: url(../images/icons/arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 15px;
                margin-left: 1.5rem;
            }
        }
        &__link-soc {
            color: $main-color;
            text-decoration: none;
            transition: .3s;
            @media (max-width: $r_mob_500) {
                font-size: 1.5rem;
            }
            &:hover {
                color: $hover-color;
            }
        }
    }
    &__ellipce {
        width: 253px;
        height: 253px;
        display: block;
        position: absolute;
        background-color: $hover-color;
        border-radius: 100%;
        top: 82px;
        left: -130px;
        z-index: -1;
        &_small {
            width: 106px;
            height: 106px;
            top: auto;
            left: auto;
            bottom: 1.5rem;
            right: 3.8rem;
            @media (max-width: $r_mob_500) {
                width: 60px;
                height: 60px;
                bottom: 3.2rem;
                right: 3.5rem;
            }
        }
        &_portfolio {
            width: 465px;
            height: 465px;
            top: 0px;
            left: 0px;
        }
    }
    &__triangle {
        display: block;
        position: absolute;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 90px solid $main-color;
        top: 122px;
        left: -162px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
        padding-top: 6.5rem;
        @media (max-width: $r_tab) {
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem 2%;
        }
        @media (max-width: $r_mob_500) {
            padding-top: 5.5rem;
            gap: 5rem 2%;
        }
        &__title {
            letter-spacing: .05rem;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
            @media (max-width: $r_tab) {
                font-size: 1.4rem;
            }
            @media (max-width: $r_mob_500) {
                font-size: 1.5rem;
            }
        }
        &__description {
            font-size: 1.4rem;
            opacity: .8;
            margin: 2rem 0 0;
            @media (max-width: $r_tab) {
                font-size: 1.2rem;
            }
            @media (max-width: $r_mob_500) {
                font-size: 1.25rem;
            }
        }
    }
}

.info-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid $main-color;
    padding-bottom: 6rem;
    position: relative;
    gap: 2%;
    @media (max-width: $r_mob_500) {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.2rem;
        padding-bottom: 6.2rem;
    }
}

.title {
    font-size: 7.4rem;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    letter-spacing: .22rem;
    @media (max-width: $r_tab) {
        font-size: 4.1rem;
    }
    @media (max-width: $r_mob_500) {
        font-size: 3.5rem;
    }
    &_min {
        font-size: 2.8rem;
        max-width: 70%;
        letter-spacing: .1rem;
        @media (max-width: $r_tab) {
            font-size: 2.2rem;
        }
    }
    &_portfolio-ellipce {
        &::before {
            content: '';
            z-index: -1;
            width: 465px;
            height: 465px;
            display: block;
            top: -80px;
            left: calc(50% - 223.5px);
            position: absolute;
            background-color: $hover-color;
            border-radius: 100%;
            @media (max-width: $r_tab) {
                width: 331px;
                height: 331px;
                top: -40px;
                left: calc(50% - 165.5px);
            }
            @media (max-width: $r_mob_500) {
                width: 197px;
                height: 197px;
                top: -3.8rem;
                left: auto;
                right: 0;
            }
        }
    }
    &_ellipce {
        &::before {
            content: '';
            z-index: -1;
            width: 140px;
            height: 140px;
            display: block;
            top: -5rem;
            left: -7rem;
            position: absolute;
            background-color: $hover-color;
            border-radius: 100%;
            @media (max-width: $r_mob_500) {
                width: 138px;
                height: 138px;
                top: -7.1rem;
                left: -10.6rem;
            }
        }
    }
}

.ellipce {
    display: block;
    position: absolute;
    background-color: $hover-color;
    border-radius: 100%;
    z-index: -1;
    &__main {
        width: 253px;
        height: 253px;
        top: 6.6rem;
        left: -12.8rem;
        @media (max-width: $r_tab) {
            width: 194px;
            height: 194px;
            top: 7.6rem;
            left: -8rem;
        }
        @media (max-width: $r_mob_500) {
            width: 135px;
            height: 135px;
            top: 4.25rem;
            left: -6.625rem;
        }
        @media (max-width: $r_mob_345) {
            top: 7.25rem;
        }
        &_triangle {
            &::before {
                content: '';
                display: block;
                position: absolute;
                border-left: 3.2rem solid transparent;
                border-right: 3.2rem solid transparent;
                border-bottom: 7.2rem solid $main-color;
                top: 3.6rem;
                left: -2.2rem;
                @media (max-width: $r_tab) {
                    border-left: 1.5rem solid transparent;
                    border-right: 1.5rem solid transparent;
                    border-bottom: 3rem solid $main-color;
                    top: auto;
                    bottom: -2rem;
                    left: 8.7rem;
                }
                @media (max-width: $r_mob_500) {
                    border-left: 1.75rem solid transparent;
                    border-right: 1.75rem solid transparent;
                    border-bottom: 3.75rem solid $main-color;
                    bottom: -2.75rem;
                    left: 6.9rem;
                }
            }
        }
    }
    &__connection {
        width: 300px;
        height: 300px;
        top: -2.7rem;
        left: -15rem;
        @media (max-width: $r_tab) {
            width: 245px;
            height: 245px;
            top: -8.7rem;
            left: -11rem;
        }
        @media (max-width: $r_mob_500) {
            width: 190px;
            height: 190px;
            top: -8.5rem;
            left: -7rem;
        }
        &_trianlle {
            &::before {
                content: '';
                display: block;
                position: absolute;
                border-left: 3.2rem solid transparent;
                border-right: 3.2rem solid transparent;
                border-bottom: 7.2rem solid $main-color;
                top: 3.6rem;
                left: -2.2rem;
                @media (max-width: $r_tab) {
                    border-left: 1.5rem solid transparent;
                    border-right: 1.5rem solid transparent;
                    border-bottom: 3rem solid $main-color;
                    top: 2rem;
                    left: auto;
                    right: 1.2rem;
                }
                @media (max-width: $r_mob_500) {
                    top: 1.25rem;
                    right: 2rem;
                }
            }
        }
    }
}

.description {
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    opacity: .8;
    @media (max-width: $r_tab) {
        font-size: 2.2rem;
    }
    @media (max-width: $r_mob_500) {
        font-size: 2rem;
    }
}

.about {
    padding: 18.8rem 0 18rem 0;
    @media (max-width: $r_mob_500) {
        padding: 10.8rem 0 9.5rem 0;
    }
    &__skills-box {
        padding-top: 5.9rem;
        max-width: 49%;
        margin-left: 51%;
        @media (max-width: $r_tab) {
            max-width: 100%;
            margin-left: 0;
        }
        @media (max-width: $r_mob_500) {
            padding-top: 5rem;
        }
        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 6rem 2rem;
        }
        &__title {
            font-weight: 700;
            line-height: 1.5;
            margin: 0;
            @media (max-width: $r_tab) {
                font-size: 1.4rem;
            }
        }
        &__description {
            font-size: 1.4rem;
            line-height: 1.5;
            opacity: .8;
            margin: 2rem 0 0;
            @media (max-width: $r_tab) {
                font-size: 1.2rem;
            }
        }
    }
}

.conditions {
    margin-bottom: 17rem;
    @media (max-width: $r_mob_500) {
        margin-bottom: 9.3rem;
    }
    &__info-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(10.5rem, 1fr));
        gap: 0;
        &:last-child {
            border-bottom: 1px solid $main-color;
        }
    }
    &__item {
        border-top: 1px solid $main-color;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &:nth-child(even) {
            padding-left: 2rem;
        }
    }
    &__title {
        font-size: 2.8rem;
        line-height: 1.5;
        font-weight: 400;
        margin: 0;
        padding-left: 7rem;
        position: relative;
        @media (max-width: $r_tab) {
            font-size: 2.2rem;
            padding-left: 4rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 2rem;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }
        &_01 {
            &::before {
                content: '01';
            }
        }
        &_02 {
            &::before {
                content: '02';
            }
        }
        &_03 {
            &::before {
                content: '03';
            }
        }
    }
    &__description {
        line-height: 1.5;
        opacity: .8;
        @media (max-width: $r_tab) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.5rem;
        }
    }
}

.portfolio {
    background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
    z-index: 0;
    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.5;
        margin-top: 2.2rem;
        margin-bottom: 4rem;
        @media (max-width: $r_tab) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 2.5rem;
        }
    }
    &__title-box {
        padding-bottom: 13rem;
        z-index: 0;
        position: relative;
        @media (max-width: $r_mob_500) {
            padding-bottom: 8rem;
        }
    }
    &__info-box {
        position: relative;
    }
    &__list {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $main-color;
        padding-top: 6rem;
        padding-bottom: 6rem;
        @media (max-width: $r_tab) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_500) {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 5rem;
        }
    }
    &__days {
        font-weight: 700;
        @media (max-width: $r_tab) {
            font-size: 1.4rem;
        }
    }
    &__image {
        width: 49%;
        height: 100%;
        @media (max-width: $r_mob_500) {
            width: 100%;
            margin-top: 8.4rem;
        }
    }
    &__description__list {
        list-style: "- ";
        line-height: 1.5;
        padding-left: 0;
        margin-bottom: 4rem;
        margin-left: 1.4rem;
        @media (max-width: $r_mob_500) {
            font-size: 1.5rem;
            margin-bottom: 2.8rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__description__item {
        margin-bottom: 1rem;
        @media (max-width: $r_mob_500) {
            margin-bottom: 1.3rem;
        }
    }
    &__title-description {
        display: block;
        max-width: 80%;
        font-size: 28px;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 12rem;
        margin-bottom: 2rem;
        @media (max-width: $r_tab) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 2rem;
            margin-top: 4rem;
            margin-bottom: 0;
        }
    }
    &__grid-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 4rem 2%;
        padding-top: 6.2rem;
        padding-bottom: 15.5rem;
        @media (max-width: $r_tab) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $r_mob_500) {
            grid-template-columns: repeat(1, 1fr);
            padding-top: 3.5rem;
            padding-bottom: 8rem;
        }
        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 11%;
            @media (max-width: $r_mob_500) {
                gap: 9%;
                justify-content: flex-start;
            }
        }
        &__image {
            width: 40px;
            height: 40px;
            @media (max-width: $r_mob_500) {
                width: 30px;
                height: 30px;
            }
        }
        &__title {
            font-weight: 700;
            line-height: 1.5;
            @media (max-width: $r_tab) {
                font-size: 1.4rem;
            }
        }
        &__description {
            font-size: 1.4rem;
            line-height: 1.5;
            opacity: .8;
            @media (max-width: $r_tab) {
                font-size: 1.3rem;
            }
        }
    }
    &__grid-2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        padding-bottom: 18.1rem;
        @media (max-width: $r_mob_500) {
            padding-bottom: 10rem;
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba($main-color, .6);
            min-height: 14.6rem;
            @media (max-width: $r_tab) {
                min-height: 11.6rem;
            }
            @media (max-width: $r_mob_500) {
                min-height: 5.4rem;
            }
        }
        &__image {
            height: fit-content;
            filter: grayscale(1);
            cursor: pointer;
            transition: .3s;
            @media (max-width: $r_mob_500) {
                height: 25px;
            }
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

.rates {
    &__list {
        list-style: none;
        padding-left: 0;
        padding-bottom: 12rem;
        margin: 0;
    }
    &__item {
        border-bottom: 1px solid $main-color;
        padding-top: 6rem;
        padding-bottom: 5.9rem;
        @media (max-width: $r_mob_500) {
            padding-top: 5rem;
            padding-bottom: 3.9rem;
        }
        &:nth-child(3) {
            border-bottom: none;
            @media (max-width: $r_mob_500) {
                border-bottom: 1px solid $main-color;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
        &__item {
            max-width: 90%;
            @media (max-width: $r_mob_360) {
                max-width: 100%;
            }

        }
        &__title {
            font-size: 2.8rem;
            line-height: 1.5;
            font-weight: 400;
            margin: 0 0 2rem 0;
            max-width: 80%;
            @media (max-width: $r_tab) {
                font-size: 2.2rem;
            }
            @media (max-width: $r_mob_500) {
                font-size: 2rem;
                margin: 0 0 2.5rem 0;
            }
        }
        &__description {
            opacity: .8;
            line-height: 1.5;
            font-weight: 400;
            margin: 0 0 7.8rem 0;
            @media (max-width: $r_tab) {
                font-size: 1.3rem;
            }
            @media (max-width: $r_mob_500) {
                font-size: 1.25rem;
                margin: 0 0 4.2rem 0;
            }
        }
        &__link {
            color: $main-color;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            padding-top: 1rem;
            padding-bottom: 1rem;
            transition: .3s;
            @media (max-width: $r_mob_500) {
                font-size: 1.5rem;
            }
            &:hover {
                border-bottom: 2px solid $main-color;
            }
            &::after {
                content: '';
                display: inline-block;
                width: 15px;
                height: 10px;
                background-image: url(../images/icons/arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 15px;
                margin-left: 2rem;
            }
        }
        &__list-title {
            font-weight: 700;
            line-height: 1.5;
            margin: 0 0 2rem 0;
            @media (max-width: $r_tab) {
                font-size: 1.4rem;
            }
            @media (max-width: $r_mob_500) {
                margin: 0 0 2.8rem 0;
                font-size: 1.5rem;
            }
        }
        &__list {
            padding-left: 1.5rem;
            margin: 0 0 4rem 0;
            list-style: disc;
        }
        &__list-item {
            line-height: 2;
            opacity: .8;
            @media (max-width: $r_tab) {
                font-size: 1.4rem;
            }
            @media (max-width: $r_mob_500) {
                font-size: 1.5rem;
            }
        }
        &__price {
            font-size: 4.2rem;
            line-height: 1.5;
            font-weight: 700;
            margin: 0;
            position: relative;
            z-index: 1;
            @media (max-width: $r_tab) {
                font-size: 3.2rem;
            }
            @media (max-width: $r_mob_500) {
                font-size: 2.75rem;
            }
            &_ellipce {
                &::before {
                    content: '';
                    z-index: -1;
                    width: 90px;
                    height: 90px;
                    display: block;
                    position: absolute;
                    background-color: $hover-color;
                    border-radius: 100%;
                    top: -1.4rem;
                    left: -4.2rem;
                    @media (max-width: $r_mob_500) {
                        width: 40px;
                        height: 40px;
                        top: -0.75rem;
                        left: -2.75rem;
                    }
                }
            }
        }
    }
}

.connection {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
        padding-top: 6.2rem;
        padding-bottom: 13rem;
        border-bottom: 1px solid $main-color;
        @media (max-width: $r_tab) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: "a"
                                 "b";
            gap: 12rem;
        }
        @media (max-width: $r_mob_500) {
            padding-top: 5.4rem;
            padding-bottom: 7.2rem;
            gap: 7.5rem;
        }
    }
    &__item {
        &:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: end;
            @media (max-width: $r_tab) {
                grid-area: b;
                flex-direction: row;
                justify-content: center;
            }
        }
        &:nth-child(2) {
            @media (max-width: $r_tab) {
                grid-area: a;
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        &__label {
            font-size: 1.2rem;
            opacity: .8;
            font-weight: 400;
            margin-bottom: 1.2rem;
        }
        &__phone {
            height: 65px;
            outline: none;
            border: 0;
            font-size: 1.2rem;
            line-height: 1.5;
            padding: 0 20px;
            margin-bottom: 2.3rem;
            color: rgba($main-color, .2);
            background-color: rgba($main-color, .1);
            @media (max-width: $r_mob_500) {
                height: 55px;
                margin-bottom: 2.6rem;
                font-size: 1.25rem;
            }
        }
        &__button {
            display: block;
            background-color: $hover-color;
            height: 65px;
            border: 0;
            color: $main-color;
            font-weight: 700;
            cursor: pointer;
            transition: .3s;
            @media (max-width: $r_mob_500) {
                height: 55px;
                font-size: 1.5rem;
            }
            &:hover {
                background-color: #EA0E00;
            }
        }
    }
    &__form-group {
        
    }
    &__dropdown {
        position: relative;
        &__button {
            position: relative;
            display: block;
            text-align: left;
            margin-bottom: 4rem;
            width: 100%;
            height: 65px;
            outline: none;
            font-size: 1.2rem;
            line-height: 1.5;
            padding: 0 1.5rem;
            color: rgba($main-color, 1);
            background-color: rgba($main-color, .1);
            border: 0;
            cursor: pointer;
            @media (max-width: $r_mob_500) {
                height: 55px;
                font-size: 1.25rem;
            }
            &:focus {
                outline: none;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 24px;
                width: 12px;
                height: 8px;
                background-image: url(../images/icons/arrow_select.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 12px 8px;
                pointer-events: none;
                transition: .3s all;
            }
            &_active {
                outline: none;
            }
        }
        &__list {
            position: absolute;
            display: none;
            z-index: 100;
            top: 65px;
            left: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            list-style: none;
            font-size: 1.2rem;
            line-height: 1.5;
            background-color: #232326;
            border: 0;
            overflow: hidden;
            @media (max-width: $r_mob_500) {
                font-size: 1.25rem;
                top: 55px;
            }
            &_visible {
                display: block;
            }
        }
        &__item {
            margin: 0;
            padding: 0;
            height: 27px;
            padding: 0 1.5rem;
            background-color: rgba($main-color, .1);
            color: rgba($main-color, .4);
            cursor: pointer;
            @media (max-width: $r_mob_500) {
                height: 55px;
            }
            &:hover {
                color: rgba($main-color, 1);
            }
        }
        &__input {
            &_hidden {
                display: none;
            }
        }
    }
    &__info {
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            gap: 1.1rem;
            padding-left: 0;
            max-width: 40%;
            margin: 0;
            @media (max-width: $r_tab) {
                max-width: 100%;
            }
            @media (max-width: $r_mob_500) {
                font-size: 1.5rem;
            }
        }
        &__item {
            border-right: 1px solid $main-color;
            padding: .4rem 3rem .4rem 0;
            @media (max-width: $r_mob_500) {
                padding: .4rem 1.25rem .4rem 0;
            }
            &:nth-child(3) {
                border-right: none;
                padding-right: 0;
            }
        }
        &__link-soc {
            color: $main-color;
            text-decoration: none;
            transition: .3s;
            &:hover {
                color: $hover-color;
            }
        }
    }
}

.footer {
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        opacity: .3;
        line-height: 1.5;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        @media (max-width: $r_tab) {
            flex-direction: column;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.25rem;
        }
    }
    &__author {
        font-size: 1.2rem;
        color: $main-color;
        line-height: 1.5;
        @media (max-width: $r_mob_500) {
            font-size: 1.25rem;
        }
    }
}